$darker-color: #222831;
$dark-color: #393E46;
$middle-color: #474E59;
$medium-light-color: #5B6370;
$light-color: #EEEEEE;
$default-project-color: #00ADB5;
$darker-project-color: #015f64;
$project-1-color: #A52F2F;
$project-2-color: #4F55E1;

@import './fonts';
@import './animations';

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $darker-color;
    @include flexCenter(row);
    align-items: flex-start;
    flex-wrap: wrap;

    header.page-title {
        width: 100%;
        text-align: center;
        color: $light-color;
        font-size: 2rem;
        margin-block: 30px;
    }
    
    aside.project-sidebar {
        @include flexCenter(column);
        align-items: flex-start;
        text-align: left;
        width: 300px;
        height: fit-content;
        border: 1px solid $light-color;
        border-radius: 10px;
        color: $light-color;
        margin: 25px;
        margin-top: 0px;

        h1.user-title {
            margin: 20px;
            font-size: 1.5rem;

        }

        ul.project-list {
            @include flexCenter(column);
            list-style: none;
            align-items: flex-start;
            background-color: $dark-color;
            width: 85%;
            margin-inline: auto;
            padding-inline: 10px;
            padding-block: 2px;
            border-radius: 10px;

            li.project-item {
                width: 100%;
                padding: 5px;
                padding-block: 7px;
                margin-block: 5px;
                border-bottom: 1px solid $light-color;
                border-radius: 5px 5px 0 0;
                cursor: pointer;
                transition: all 0.5s, background-color 0.1s ease;
                &:hover {
                    background-color: $middle-color;
                }

            }

            li.input-project-container {
                cursor: default;
                padding-inline: 5px;
                padding-block: 7px;

                

                input#projectTitle {
                    
                    background-color: $medium-light-color;
                    border-radius: 3px;
                    padding-block: 0.2rem;
                    border: none;
                    color: $light-color;
                    font-size: 0.8rem;
                    
                    &:focus {
                        outline: none;
                        border: 1px solid $default-project-color;
                    }
                }
            }

        }

        button.new-project-btn {
            @include flexCenter(row);
            justify-content: left;
            margin-inline: auto;
            margin-block: 15px;
            padding-block: 7px;
            border-radius: 10px;
            background-color: $dark-color;
            color: $light-color;
            font-weight: bold;
            cursor: pointer;
            width: 85%;
            white-space: nowrap;
            overflow: hidden;
            border: none;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }

            &:hover i {
                margin-left: 47%;
                margin-right: 100%;
            }

            i {
                color: $default-project-color;
                font-size: 1.2rem;
                margin-left: 8px;
                margin-right: 5px;
                transition: all 0.2s ease
            }
        }
    }

    main.project-todo-container {
        @include flexCenter(column);
        align-items: flex-start;
        text-align: left;
        width: 900px;
        height: fit-content;
        border: 1px solid $light-color;
        border-radius: 10px;
        color: $light-color;
        margin: 25px;
        margin-top: 0px;

        h1.project-title {
            font-size: 1.3rem;
            margin-inline: 25px;
            margin-block: 15px;
        }


        .todo-outer-container {
        @include flexCenter(column);
        align-items: flex-start;
        text-align: left;
        width: 100%;

            .todo-inner-container {
                margin-inline: auto;
                margin-bottom: 10px;
                @include flexCenter(row);
                justify-content: left;
                flex-wrap: wrap;
                width: 93%;
                height: fit-content;
                background-color: $dark-color;
                border-radius: 10px;
                animation: expand 0.2s ease;
                
                .todo-item-container {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    width: 100%;
                    padding-block: 10px;

                    span.todo-check-icon {
                        margin-bottom: 1px;
                        margin-left: 20px;
                        color: $default-project-color;
                        cursor: pointer;
                        font-size: 1.2rem;
                    }
        
                    .todo-title {
                        font-family: 'Roboto', sans-serif;
                        width: 90%;
                        background-color: $dark-color;
                        border: 1px solid $dark-color;
                        color: $light-color;
                        font-size: 1rem;
                        padding: 0.5rem;

                        &[type="text"] {
                            background-color: $medium-light-color;
                            border-radius: 5px;
                        }

                        &:focus {
                            outline: none;
                            border: 1px solid $default-project-color;
                        }
                    }


                    button.delete-todo {
                        margin-inline: 6px;
                        background-color: $dark-color;
                        border: none;
                        color: $medium-light-color;
                        cursor: pointer;
                        font-weight: bolder;
                    }
                }

                .checklist-container {
                    margin-left: 60px;
                    padding-block: 15px;
                    padding-top: 0px;

                    li.checklist-item {
                        margin-bottom: 7px;

                        span.checklist-icon {
                            cursor: pointer;
                        }

                        span.delete-checklist-icon {
                            opacity: 0;
                            color: $medium-light-color;
                            &:hover {
                                opacity: 1;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .new-todo-config-container {
                    display: flex;
                    justify-content: space-between;
                    margin-left: 2.2rem;
                    margin-bottom: 0.3rem;
                    width: 100%;

                    .config-title {
                        font-weight: bold;
                        margin-inline: 0.5rem;
                    }

                    ul.priority-input-list {
                        background-color: $medium-light-color;
                        border-radius: 5px;
                        @include flexCenter(row);
                        padding: 0.3rem;
                        margin: 0.5rem;
                        margin-left: 0.6rem;

                        .priority-input-item {
                            margin-inline: 0.3rem;
                            padding: 0.5rem;
                            cursor:pointer;

                            &.active {
                                background-color: $middle-color
                            }

                            &[data-priority="2"] {
                                color: rgb(69, 194, 69);
                            }

                            &[data-priority="1"] {
                                color: rgb(202, 202, 51);
                            }

                            &[data-priority="0"] {
                                color: #d63b3b;
                            }
                        }
                    }

                    .dueDate-config-container {
                        @include flexCenter(row);
                        justify-content: space-between;
                        padding-block: 0.3rem;
                        padding-inline: 0.5rem;
                        margin: 0.5rem;
                        background-color: $medium-light-color;
                        border-radius: 5px;


                        button {
                            @include flexCenter(row);
                            border: none;
                            background-color: $medium-light-color;
                            height: 90%;
                            margin-right: 0.8rem;
                            padding-inline: 0.8rem;
                            padding-left: 0.7rem;
                            font-size: 1.1rem;
                            cursor: pointer;

                            &.active {
                                background-color: $middle-color
                            }

                            &.noDueDate-btn {
                                margin-left: 0.3rem;
                                color: #d63b3b;
                            }

                            &.yesDueDate-btn {
                                display: block;
                                height: 95%;
                                color:rgb(69, 194, 69);
                                margin-left: -0.8rem;
                                transition: all 0.3s ease;

                                &.active {
                                    display: none;
                                    // margin-left: -2rem;
                                    // border-radius: none;
                                }
                            }
                        }

                        input {
                            background-color: $middle-color;
                            color: none;
                            width: 0px;
                            border-radius: 5px;
                            padding: 0.3rem;
                            font-family: 'Roboto', sans-serif;
                            font-size: 0.9rem;
                            border: none;
                            transition: all 0.3s ease;
                            
                            &.active {
                                color: $light-color;
                                width: 8.3rem;
                            }

                            &::-webkit-calendar-picker-indicator {
                                filter: invert(1);
                                cursor: pointer;
                            }
                        }

                    }

                    button.add-todo-config-btn {
                        width: 200px;
                        background-color: $darker-project-color;
                        color: $light-color;
                        border-radius: 5px;
                        border: none;
                        box-shadow: 2px 2px 20px -10px black;
                        @include flexCenter(row);
                        margin: 0.5rem;
                        margin-left: auto;
                        margin-right: 3.1rem;
                        cursor: pointer;
                        font-size: 1.2rem;
                        font-weight: bolder;

                        &:hover {
                            filter: brightness(1.1);
                        }
                    }
                }
            }
        }

        button.add-todo-btn {
            width: 93%;
            margin-inline: auto;
            margin-top: 10px;
            margin-bottom: 20px;
            padding-block: 5px;
            border: none;
            border-radius: 10px;
            background-color: $dark-color;
            opacity: 0.5;
            color: $default-project-color;
            transition: opacity 0.1s ease;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }
}

.project-icon {
    color: $default-project-color;
    margin-right: 5px;
}

i[data-project="1"] {
    color: $project-1-color;
}

i[data-project="2"] {
    color: $project-2-color;
}


.fa-circle {
    border-radius: 50%;
    transition: all 0.5s ease;
    &:hover {
        background-image: radial-gradient($dark-color, $default-project-color 95%);
    }
}

footer.page-footer {
    width: 100%;
    padding: 25px;
    color: $light-color;
    position: absolute;
    bottom: 0;
    left: 0;
    @include flexCenter(row)
}